@keyframes moveElement {
    from {
        top: 50px;
        left: 50px;
    }
    to {
        top: 500px;
        left: 500px;
    }
}

@keyframes moveElementBack {
    from {
        top: 500px;
        left: 500px;
    }
    to {
        top: 50px;
        left: 50px;
    }
}

#mySection {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    top: 50px;
    left: 50px;
    line-height: 100px;
    text-align: center;
    border: 2px solid black;
}

.animate {
    animation: moveElement 3s ease forwards;
}

.animate2 {
    animation: moveElementBack 2s ease;
}

