body {
    font-family: Arial, sans-serif;
    display: grid;
    height: 90vh;
    margin: 0;
    place-items: center;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

canvas {
    border: 1px solid black;
    background-color: white;
}

#myButton {
    grid-column: 4;
    justify-self: center; 
    margin-top: 5px;
}


