@media only screen and (max-width: 600px) {
    h1, h2, h3 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }

    #mail, #linkedIn,
    #page1, #page2, #page3 {
        font-size: 16px;
    }
    #popupBtn, #mail, #linkedIn {
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        height: 100%;
        min-height: 44px; 
        line-height: 24px; /* Samma som höjden på knappen för vertikal centrering */
        text-align: center; /* Horisontell centrering */
    }

    #feedbackWindow, #feedbackWindow2, #feedbackWindow3 {
        max-width: 300px !important;
    }
    #feedbackWindow h1, #feedbackWindow2 h1, #feedbackWindow3 h1 {
        padding-left: 5px;
        padding-right: 5px; 
        margin-left: 0; 
        margin-right: 0; 
    }
    #feedbackWindow p, #feedbackWindow2 p, #feedbackWindow3 p {
        font-size: 14px;
    }

    .project-row {
        flex-direction: column; /* Rada upp informationen vertikalt på mindre skärmar */
        align-items: flex-start; /* Justera texten till vänster */
        margin-bottom: 10px;
    }

    .project-row strong {
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    h1, h2, h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }

    #popupBtn,
    #mail, #linkedIn,
    #page1, #page2, #page3 {
        font-size: 14px;
    }

    #feedbackWindow, #feedbackWindow2, #feedbackWindow3 {
        max-width: 400px !important;
    }
}

.my-content {
    display: grid;
    justify-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#dark-mode {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 5px;
}

.header-container h3 {
    flex: 1; 
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}

.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.4em;
}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}

.ui-popup {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

#feedbackWindow, #feedbackWindow2, #feedbackWindow3 {
    width: 200%;
    max-width: 500px;
    height: auto;
}

#feedbackWindow .ui-btn, #feedbackWindow2 .ui-btn, #feedbackWindow3 .ui-btn {
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 10px !important;
}

#feedbackWindow p, #feedbackWindow2 p, #feedbackWindow3 p {
    text-align: center;
}

#cvPreview {
    display: none;
}
#resumePreview {
    display: none;
}

.my-footer {
    overflow: hidden;
}
